extends layouts/main-layout.pug

block content

    main
        h1 product
        p List of all products
        if products.length > 0
            .grid
                each product in products
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src="https://source.unsplash.com/Oc3fP0FXJbU/800x450")
                        .card__content
                            h2.product__price $19.09
                            p.product__description A lettuc you can eat
                        .card__actions
                            button.btn Add to cart
        else
            h1 No Product Found!


