/* @import url("../main.css"); */
@import url("./navbar.css");

.product-form {
    width             : 30rem;
    max-width         : 90%;
    margin            : auto;
}

.form-control label,
.form-control input {
    display           : block;
    width             : 100%;
    margin            : 8px 0;
}

.form-control label {
    font-size         : 1.5rem;
}

.form-control input {
    border            : 1px solid var(--green-tropical);
    border-radius     : 5px;
    padding           : 15px;
    font              : inherit;
}
